/*Box sizing rules */
*,
  *::before,
  *::after {
	box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h2,
  p,
   {
	margin: 0;
  }

  /* Set core root defaults */
  html:focus-within {
	scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: system-ui;
	font-size: clamp(1rem, 1.5vw,  30px) ;
	color: white;
	letter-spacing: 0.25em;
	background-color: hsl(0, 0%, 95%);
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
	text-decoration-skip-ink: auto;
  }

  h2 {
	font-size:clamp(2.5rem, 5vw,  80px);
	line-height: 1em;
	margin-block-end: 1em;
	text-transform: uppercase;
  }

  main {
	display: flex;
	flex-wrap: wrap;
	max-width: 2000px;
	border-radius: 0.5em;
	overflow: hidden;
  }

  main > * {
	flex-grow: 1;
	flex-basis: clamp(300px, 33%, 800px);
	padding: 2em 2em 4em;
  }


  .wrapper {
	min-height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
  }

  .icon {
	background-repeat: no-repeat;
	background-size:auto 100%;
	height: 4em;
	margin-block-end: 2em;
  }

  article {
	margin-block-end: 4em;
  }

  a {
	background-color: white;
	text-transform:capitalize;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 0.5em;
  }

  a:hover {
background-color:transparent;
border: 0.2em white solid;
box-sizing: border-box;
color: white;
  }

  footer {
background-color: darkSlateGrey;
font-size: 1rem;
letter-spacing: initial;
text-align: end;
  }

  .section1 .icon {
	background-image: url("./images/icon-sedans.svg");
  }

  .section2 .icon {
	background-image: url("./images/icon-suvs.svg");
  }

  .section3 .icon {
	background-image: url("./images/icon-luxury.svg");
  }

  .section1 a {
	color: darkred;
  }


  .section2 a {
	color: midnightblue;
  }

  .section3 a {
	color: darkgreen;
  }

  a:hover {
background-color:transparent;
border: 0.1em white solid;
box-sizing: border-box;
color: white;
  }


  .section1 {
	background-color: darkred;
  }

  .section2 {
	background-color: midnightblue;
  }

  .section3 {
	background-color: darkgreen;
}
