/*Box sizing rules */
*,
  *::before,
  *::after {
	box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
	margin: 0;
  }


  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
	list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
	scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: system-ui;
	font-size: clamp(1rem, 1.5vw,  30px) ;
	color: white;
	letter-spacing: 0.25em;
	background-color: hsl(0, 0%, 95%);
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
	text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
	max-width: 100%;
	display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
	font: inherit;
  }

  h2 {
	font-size:clamp(2.5rem, 5vw,  80px);
	line-height: 1em;
	margin-block-end: 1em;
	text-transform: uppercase;
  }

  main {
	display: flex;
	flex-wrap: wrap;
	max-width: 2000px;
	border-radius: 0.5em;
	overflow: hidden;
  }

  main > * {
	flex-grow: 1;
	flex-basis: clamp(300px, 33%, 800px);
	padding: 2em;
  }


  .wrapper {
	min-height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
  }

  .icon {
	background-repeat: no-repeat;
	background-size:auto 100%;
	height: 4em;
	margin-block-end: 2em;
  }

  article {
	margin-block-end: 4em;
  }

  button {
	text-transform:capitalize;
	margin-block-end: 1em;
	padding: 0.5em 2em;
	border-radius: 0.5em;
  }

  .section1 .icon {
	background-image: url("./images/icon-sedans.svg");
  }

  .section2 .icon {
	background-image: url("./images/icon-suvs.svg");
  }

  .section3 .icon {
	background-image: url("./images/icon-luxury.svg");
  }

  .section1 button {
	color: darkred;
  }


  .section2 button {
	color: midnightblue;
  }

  .section3 button {
	color: darkgreen;
  }


  .section1 {
	background-color: darkred;
  }

  .section2 {
	background-color: midnightblue;
  }

  .section3 {
	background-color: darkgreen;
  }
